/********* COMMON SECTION *********/
body{
    font-family:var(--primary-font-family) ;
    font-size: var(--small-fontsize);
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
p{
    font-size: var(--small-fontsize);
    letter-spacing: var(--letter-spacing-003rem);
    line-height: var(--line-height-25);
    margin-top: var(--margin-t15);
    margin-bottom: var(--margin-b15);
}
a{
    color: var(--blue-text);
    text-decoration: none;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.info-badges > li:nth-child(1):before{
    content: "1";
}
.info-badges > li:nth-child(2):before{
    content: "2";
}
.info-badges > li:nth-child(3):before{
    content: "3";
}
.info-badges > li:nth-child(4):before{
    content: "4";
}
.info-badges > li:nth-child(5):before{
    content: "5";
}
.info-badges > li:nth-child(6):before{
    content: "6";
}
.info-badges > li:nth-child(7):before{
    content: "7";
}
.info-badges > li:nth-child(8):before{
    content: "8";
}
.info-badges > li:nth-child(9):before{
    content: "9";
}
.info-badges > li:nth-child(10):before{
    content: "10";
}
.info-badges > li:nth-child(11):before{
    content: "11";
}
.info-badges > li:nth-child(12):before{
    content: "12";
}
.info-badges > li:nth-child(13):before{
    content: "13";
}
.info-badges > li:nth-child(14):before{
    content: "14";
}
.info-badges > li:nth-child(15):before{
    content: "15";
}
.info-badges > li:nth-child(16):before{
    content: "16";
}
.info-badges > li:nth-child(17):before{
    content: "17";
}
.info-badges > li:nth-child(18):before{
    content: "18";
}
.info-badges > li:nth-child(19):before{
    content: "19";
}
.info-badges > li:nth-child(20):before{
    content: "20";
}
.info-badges > li:nth-child(21):before{
    content: "21";
}
.info-badges > li:nth-child(22):before{
    content: "22";
}
.info-badges > li:nth-child(23):before{
    content: "23";
}
.info-badges > li:nth-child(24):before{
    content: "24";
}
.info-badges > li:nth-child(25):before{
    content: "25";
}
.info-badges > li:nth-child(26):before{
    content: "26";
}
.info-badges > li:nth-child(27):before{
    content: "27";
}
.info-badges > li:nth-child(28):before{
    content: "28";
}
.info-badges > li:nth-child(29):before{
    content: "29";
}
.info-badges > li:nth-child(30):before{
    content: "30";
}
.info-badges > li:nth-child(31):before{
    content: "31";
}
.info-badges > li:nth-child(32):before{
    content: "32";
}
.info-badges > li:nth-child(33):before{
    content: "33";
}
.info-badges > li:nth-child(34):before{
    content: "34";
}
.info-badges > li:nth-child(35):before{
    content: "35";
}
:root{
    --primary-font-family:"Open Sans", sans-serif;
    --secondary-font-family:"Raleway", sans-serif;
    --dark-blue:#00b1ea;
    --light-grey:#f1f1f1;
    --light-grey2:#f5f5f5;
    --light-grey3:#dddddd;
    --white:#ffffff;
    --blue-text:#009ee3;
    --dark-text:#363d45;
    --black:#000000;
    --border-bottom:1px solid #dddddd;
    --box-shadow-light:0 1px 4px 0 rgba(0, 0, 0, 0.1);
    --text-uppercase:uppercase;
    --text-capitalize:capitalize;
    --text-center:center;
    --text-left:left;
    --text-right:right;
    --heading-fontsize:34px;
    --page-title-fontsize:28px;
    --sub-heading-fontsize:22px;
    --mobile-heading-fontsize:28px;
    --mobile-page-title-fontsize:22px;
    --mobile-sub-heading-fontsize:18px;
    --small-fontsize:15px;
    --medium-fontsize:16px;
    --letter-spacing-003rem:0.03rem;
    --padding-0:0;
    --margin-0:0;
    --padding-5:5px;
    --padding-10:10px;
    --padding-15:15px;
    --padding-25:25px;
    --margin-10:10px;
    --margin-15:15px;
    --margin-20:20px;
    --margin-25:25px;
    --margin-30:30px;
    --margin-b15:15px;
    --margin-b20:20px;
    --margin-b25:25px;
    --margin-b30:30px;
    --margin-t15:15px;
    --margin-t20:20px;
    --margin-t25:25px;
    --margin-t30:30px;
    --line-height-20:20px;
    --line-height-22:22px;
    --line-height-25:25px;
    --line-height-28:28px;
    --font-weight-600:600;
    --font-weight-700:700;
    --border-radius-50:50%;
}
.accordion .accordion-button{
    box-shadow: none;
}
.accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: var(--dark-text);
    background-color:var(--light-grey2);
}


/********* HEADER & SIDEBAR SECTION *********/
header{
    background-color: var(--dark-blue);
    color:var(--white) ;
    box-shadow: var(--box-shadow-light);
}
header .row{
    height: 100%;
    align-items: center;
}
.sidebar-navigation{
    background-color: var(--light-grey);
    padding: 25px 15px;
}
.sidebar-navigation + .section-content{
    padding: var(--padding-25);
}
.section-wrapper{
    padding-bottom: 50px;
}
.sidebar-navigation .accordion-button,
.sidebar-navigation .list-group li a{
    position: relative;
}
.sidebar-navigation .accordion-button::before{
    position: absolute;
    content: " ";
    background: url(../images/folder-fill.svg) no-repeat left center;
    display: flex;
    height: 25px;
    width: 25px;
    background-size: 25px;
}
.sidebar-navigation .accordion-button span{
    padding-left: 35px;
    color: var(--black);
    font-weight: var(--font-weight-600);
}
.sidebar-navigation .list-group li a{
    display: flex;
    color: var(--black);
    padding-left: 35px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.sidebar-navigation .list-group li a:hover{
    color: var(--blue-text);
}
.sidebar-navigation .list-group li::before{
    position: absolute;
    content: " ";
    background: url(../images/file-text.svg) no-repeat left center;
    display: flex;
    height: 25px;
    width: 25px;
    background-size: 25px;
}
.sidebar-navigation .accordion .accordion-body > .list-group,
.sidebar-navigation .accordion .accordion-body > .list-group li{
    border: none;
}
.sidebar-navigation .accordion .accordion-body > .list-group li{
    padding: 5px;
    margin-bottom:5px;
}
.sidebar-navigation .list-group + .accordion{
    margin-top: 10px;
}


/********* FOOTER SECTION *********/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: var(--text-center);
    z-index: 99999;
    background: var(--white);
    box-shadow: 0 -8px 16px rgba(0, 0, 0, .1);
}
footer p{
    margin:var(--margin-0) ;
}


/********* CONTENT SECTION *********/
h1{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: var(--text-center);
    font-weight: var(--font-weight-700);
    text-transform: var(--text-uppercase);
}
.page-title h2{
    text-transform:var(--text-uppercase);
    font-family: var(--secondary-font-family);
    letter-spacing: var(--letter-spacing-003rem);
    font-weight: var(--font-weight-700);
}
.sub-title h3{
    font-family: var(--secondary-font-family);
    border-bottom: var(--border-bottom);
}
.sub-title h3 span{
    position: relative;
    display: inline-block;
    padding: var(--padding-10);
    text-transform:var(--text-uppercase);
    letter-spacing: var(--letter-spacing-003rem);
}
.sub-title h3 span:after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: -4px;
    left: 0;
    height: 4px;
    background: var(--dark-blue);
}
.info-badges {
    line-height: var(--line-height-28);
}
.info-badges li {
    position: relative;
    margin: 0 0 15px;
    padding-left: 40px;
    letter-spacing: var(--letter-spacing-003rem);
}
.info-badges li:before {
    position: absolute;
    top: 1px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid var(--light-grey3);
    background: var(--dark-blue);
    color: var(--white);
    text-align: var(--text-center);
    font-size: var(--small-fontsize);
    line-height: var(--line-height-25);
    border-radius: var(--border-radius-50);
}
.subinfo-badges {
    line-height: var(--line-height-28);
}
.subinfo-badges li {
    position: relative;
    margin: 0 0 15px;
    padding-left: 22px;
    letter-spacing: var(--letter-spacing-003rem);
}
.subinfo-badges li:before {
    content: " ";
    position: absolute;
    top: 14px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--light-grey3);
    background: var(--dark-blue);
    border-radius: var(--border-radius-50);
    transform: translateY(-50%);
}
.table th, .table td {
    width: 50%;
}
.product-img{
    margin-top: var(--margin-t30);
    margin-bottom: var(--margin-b30);
    text-align: var(--text-center);
}
.product-img img{
    max-width: 100%;
}
.backtoprevpage{
    margin-bottom:var(--margin-b20);
}
.backtoprevpage button{
    background-color: var(--dark-text);
    display: block;
    color: var(--white);
    padding:5px 20px;
}
.accordion-button::after{
    width: 0;
    height:0;
}
footer .row{
    margin: var(--margin-0);
}
.services{
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}
.services-icon{
    background-color: var(--dark-blue);
    border-radius: var(--border-radius-50);
    background-position: center center;
    background-repeat: no-repeat;
}
.mobile-icon{
    background-image: url(../images/mobile-development.svg);
}
.themes-icon{
    background-image: url(../images/theme-development.svg);
}
.plugin-icon{
    background-image: url(../images/plugin-development.svg);
}
.customize-icon{
    background-image: url(../images/ai-ml.png);
}
.services .services-title{
    text-align: var(--text-left);
}
.services a{
    font-weight: var(--font-weight-600);
    font-size: var(--medium-fontsize);
    text-align: var(--text-left);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}


/******** Responsive *********/
@media (max-width: 991px) {
    h1{
        font-size: var(--mobile-heading-fontsize);
    }
    .page-title h2{
        font-size: var(--mobile-page-title-fontsize);
        margin-bottom: var(--margin-b20);
    }
    .sub-title h3{
        margin-bottom: var(--margin-b20);
    }
    .sub-title h3 span{
        font-size: var(--mobile-sub-heading-fontsize);
    }
    header{
        position: sticky;
        top: 0;
        z-index: 999999;
        height: 60px;
    }
    header .row{
        padding: 0;
        margin: 0;
    }
    .hamburger-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .hamburger-menu span{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .hamburger-menu span::before{
        position: absolute;
        content: " ";
        background: url(../images/mobile-menu.svg) no-repeat left center;
        display: flex;
        height: 25px;
        width: 25px;
        background-size: 25px;
    }
    .sidebar-navigation-close{
        display: flex;
        justify-content: end;
        position: relative;
        background-color: var(--light-grey2);
    }
    .sidebar-navigation-close .closebtn{
        position: relative;
        height: 40px;
        width: 40px;
    }
    .sidebar-navigation-close .closebtn::before{
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        background: url(../images/close.svg) no-repeat center center;
        display: flex;
        height: 40px;
        width: 40px;
        background-size: 25px;
        background-color:var(--dark-blue);
    }
    .sidebar-navigation{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 320px;
        max-width: 100%;
        height: 100%;
        background: var(--white);
        z-index: 9999999;
        margin-top: 0;
        padding: var(--padding-0);
        transition: .7s ease;
        overflow: auto;
        box-shadow: 1px 0 5px rgba(0, 0, 0, .5);
    }
    .sidebar-navigation:not(.activesidebar) {
        left: -102%;
        overflow: hidden;
    }
    .nop-filter-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999999;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        transition: all 0.5 ease-in-out;
    }
    .hidescroll {
        overflow: hidden;
    }
    footer p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .services .services-title{
        display: none;
    }
    .services{
        padding:var(--padding-0);
    }
    .services a{
        padding: 5px;
        gap: 15px;
    }
    .services-icon{
        background-size: 25px;
        width: 45px;
        height: 45px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .hamburger-menu{
        width:70px;
    }
    .main-title{
        width:calc(100% - 75px);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .services .services-title {
        width: 75%;
    }
}
@media (min-width: 992px) {
    header{
        position: sticky;
        top: 0;
        z-index: 999999;
        height: 80px;
        padding: 12px 15px;
    }
    .sidebar-navigation{
        overflow-y: auto;
        position: fixed;
        left: 0;
        height: calc(100vh - 120px);
        width: 350px;
    }
    .sidebar-navigation + .section-content{
        margin-left: 350px;
        width: calc(100% - 350px);
    }
    h1{
        font-size: var(--page-title-fontsize);
    }
    .page-title h2{
        font-size: var(--page-title-fontsize);
        margin-bottom: var(--margin-b30);
    }
    .sub-title h3{
        margin-bottom: var(--margin-b30);
    }
    .sub-title h3 span{
        font-size: var(--sub-heading-fontsize);
    }
    .info-badges {
        margin-bottom: var(--margin-b30);
        padding-left: 25px;
    }
    .services a{
        padding: 10px 15px;
        gap: 15px;
    }
    .services-icon{
        width: 60px;
        height: 60px;
    }
}